@charset "utf-8";
#board{
    margin: 0 auto 100px auto;
    text-align: center;
    width: 800px;
}
#pageName{
    font-size: 2em;
    margin-top: 50px;
}
#boardtbl {
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
}
#boardtbl tr > th {
    height: 40px;
    border: solid 1px #ccc;
    line-height: 2.5em;
}
#boardtbl tr > td {
    height: 40px;
    border: solid 1px #ccc;
    line-height: 2.5em;
}
#btnPos{
    margin: 0 auto;
    text-align: center;
}
.btn_view{
    width: 130px;
    font-size: 16px;
    margin-bottom: 20px;
}